<app-progress [loading]="isDataLoading()"></app-progress>
<!-- <app-messages [messages]="messages"></app-messages> -->

@if (isEmpty()) {
    <app-structure-home></app-structure-home>
} 

<!-- breadcrumb -->
@if (isShowBreadcrumb) { 
    <nav class="flex items-center justify-between w-full p-2 rounded-md">
        <div class="flex flex-wrap items-center gap-1">
            @for (crumb of breadcrumbs; track crumb.url; let last = $last) {
                <a [routerLink]="crumb.url" 
                        class="text-slate-600 hover:text-slate-800 hover:underline text-m font-medium transition-colors">
                    {{ crumb.name }}
                </a>
                @if (!last) {
                    <mat-icon class="text-gray-400 !text-lg !h-7 !w-7">chevron_right</mat-icon>
                }
            }
        </div>
        @if(rawUrl()){
            <mat-button-toggle-group [value]="currentView()" (change)="onViewChange($event.value)" aria-label="Structure View Switcher">
                <mat-button-toggle value="action_view">
                    <mat-icon fontSet="material-symbols-outlined">article</mat-icon>
                    View
                </mat-button-toggle>
                <mat-button-toggle value="action_source">
                    <mat-icon fontSet="material-symbols-outlined">edit_note</mat-icon>
                    Source
                </mat-button-toggle>
            </mat-button-toggle-group>                
        } @else {
            <mat-button-toggle-group [value]="currentListView()" (change)="onListViewChange($event.value)" aria-label="List View Switcher">
                <mat-button-toggle value="action_readme">
                    <mat-icon fontSet="material-symbols-outlined">article</mat-icon>
                    README
                </mat-button-toggle>
                <mat-button-toggle value="action_list">
                    <mat-icon fontSet="material-symbols-outlined">list</mat-icon>
                    List
                </mat-button-toggle>
                <mat-button-toggle value="action_content">
                    <mat-icon fontSet="material-symbols-outlined">book_6</mat-icon>
                    Content
                </mat-button-toggle>
            </mat-button-toggle-group>                
        }
        <ul class="flex items-center space-x-6 text-base">
            <!-- @if(rawUrl){
                <li>
                    <a mat-button href="{{rawUrl}}" target="_blank"
                        class="ml-auto inline-flex items-center gap-1 font-medium">
                        <mat-icon class="!text-lg !h-7 !w-7" fontSet="material-symbols-outlined">text_snippet</mat-icon>
                        <span class="hover:underline">Raw</span>
                    </a>            
                </li>
            } -->
            @if (githubUrl()) {
                <li>
                    <a mat-button href="{{githubUrl()}}" target="_blank"
                        class="ml-auto inline-flex items-center gap-1 font-medium">
                        <mat-icon class="!text-lg !h-7 !w-7" fontSet="material-symbols-outlined">api</mat-icon>
                        <span class="hover:underline">Open in GitHub</span>
                    </a>
                </li>
            } @else {
                <button 
                    matButton="outlined"
                    color="primary" 
                    (click)="exportToPdf()"
                    class="!text-gray-700"
                >
                    <mat-icon class="mr-1" fontSet="material-symbols-outlined">picture_as_pdf</mat-icon>
                    <span>Export to PDF</span>
                </button>                
                <!-- <button matButton (click)="exportToPdf()">
                    <mat-icon class="!text-lg !h-7 !w-7" fontSet="material-symbols-outlined">picture_as_pdf</mat-icon>
                    Export to PDF
                </button> -->
            }
        </ul>            
    </nav>
    <mat-divider class="p-2"></mat-divider>            
}     


@if (source()){
    <div class="ml-4">
        @if (currentView() === 'action_view') {
            @if (source() | markdown | async; as htmlContent) {
                <div class="prose max-w-5xl p-4 mx-4" [innerHTML]="htmlContent | safeHtml">
                </div>
            }
        } @else if (currentView() === 'action_source') {
            <pre class="bg-gray-100 p-4 rounded-md overflow-x-auto"><code>{{ source() }}</code></pre>
        }
    </div>
} @else if (contentReadme() || contentLinks().length > 0)  {
    @if (currentListView() === 'action_readme') {
        @if (contentReadme() | markdown | async; as htmlContent) {
            <div class="prose max-w-5xl p-4 mx-4" [innerHTML]="htmlContent | safeHtml">
            </div>
        } @else {
            <div class="flex flex-col items-center justify-center py-20 text-slate-400">
                <mat-icon fontSet="material-symbols-outlined" class="text-6xl mb-4 h-16 w-16">folder_open</mat-icon>
                <p class="text-lg font-medium">No README.md found.</p>
            </div>
        }
    } @else if (currentListView() === 'action_list') {
        @if (contentLinks()?.length > 0) {
            <div class="prose p-4 ml-4">
                <h1 class="text-2xl font-bold mb-4">Content</h1>
                <ul class="text-xl mb-4">
                    @for (item of contentLinks(); track item.url) {
                        <li>
                            <a [routerLink]="[item.url]">{{item.name}}</a>
                        </li>
                    }
                </ul>
            </div>
        } @else {
            <div class="flex flex-col items-center justify-center py-20 text-slate-400">
                <mat-icon fontSet="material-symbols-outlined" class="text-6xl mb-4 h-16 w-16">folder_open</mat-icon>
                <p class="text-lg font-medium">No content found.</p>
            </div>
        }
    } @else if (currentListView() === 'action_content') {
        @if (contentLinks()?.length > 0) {
            <div class="p-4 ml-4">
                @for (item of contentLinks(); track item.url) {
                    @if (item.name !== 'README.md') {
                        <app-structure-content [owner]="item.owner" [repository]="item.repository" [branch]="item.branch" [key]="item.key"></app-structure-content>
                    }
                }
            </div>
        } @else {
            <div class="flex flex-col items-center justify-center py-20 text-slate-400">
                <mat-icon fontSet="material-symbols-outlined" class="text-6xl mb-4 h-16 w-16">folder_open</mat-icon>
                <p class="text-lg font-medium">No content found.</p>
            </div>
        }
    }  
}
