<app-progress [loading]="isDataLoading"></app-progress>
<!-- <app-messages [messages]="messages"></app-messages> -->

<!-- breadcrumb -->
@if (isShowBreadcrumb) { 
    <nav class="flex items-center justify-between w-full p-2 rounded-md">
        <div class="flex flex-wrap items-center gap-1">
            @for (crumb of breadcrumbs; track crumb.url; let last = $last) {
                <a [routerLink]="crumb.url" 
                        class="text-slate-600 hover:text-slate-800 hover:underline text-m font-medium transition-colors">
                    {{ crumb.name }}
                </a>
                @if (!last) {
                    <mat-icon class="text-gray-400 !text-lg !h-7 !w-7">chevron_right</mat-icon>
                }
            }
        </div>
        <ul class="flex items-center space-x-6 text-base">
            @if(rawUrl){
                <li>
                    <a mat-button href="{{rawUrl}}" target="_blank"
                        class="ml-auto inline-flex items-center gap-1 font-medium">
                        <mat-icon class="!text-lg !h-7 !w-7" fontSet="material-symbols-outlined">text_snippet</mat-icon>
                        <span class="hover:underline">Raw</span>
                    </a>            
                </li>
            }
            @if (githubUrl) {
                <li>
                    <a mat-button href="{{githubUrl}}" target="_blank"
                        class="ml-auto inline-flex items-center gap-1 font-medium">
                        <mat-icon class="!text-lg !h-7 !w-7" fontSet="material-symbols-outlined">api</mat-icon>
                        <span class="hover:underline">Open in GitHub</span>
                    </a>
                </li>
            }
        </ul>            
    </nav>
    <mat-divider class="p-2"></mat-divider>            
}     


@if(sourceHtml){
    <div class="flex items-center justify-center p-4">
        <!-- <h2 class="text-xl font-bold mb-4">{{title}}</h2> -->
        <div class="prose max-w-5xl mx-4" [innerHTML]="sourceHtml | markdown | safeHtml">
        </div>
    </div>
} 
