<mat-sidenav-container autosize class="h-full">
    <mat-sidenav mode="side" opened>
        <app-progress [loading]="isDataLoading"></app-progress>
        <!-- <app-messages [messages]="messages"></app-messages> -->

        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding routerLink="/{{routes.knowledge}}/{{owner}}/{{repository}}/{{branch}}/{{node.key}}" [routerLinkActive]='["node-active"]'
                class="rounded-md hover:bg-gray-200/50 hover:text-white transition-colors duration-150 my-0.5 px-2 text-sm cursor-pointer"
                matTooltip="{{node.description}}" matTooltipShowDelay="1000">
                <button mat-icon-button disabled class="w-6"></button>
                <mat-icon class="mr-2" fontSet="material-symbols-outlined">{{node.getIconName()}}</mat-icon>
                {{node.name}}
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding routerLink="/{{routes.knowledge}}/{{owner}}/{{repository}}/{{branch}}/{{node.key}}" [routerLinkActive]='["node-active"]'
                class="rounded-md hover:bg-gray-200/50 hover:text-white transition-colors duration-150 my-0.5 px-2 text-sm cursor-pointer"
                matTooltip="{{node.description}}" matTooltipShowDelay="1000">
                <button mat-icon-button [attr.aria-label]="'toggle ' + node.filename" matTreeNodeToggle>
                    <mat-icon class="mat-icon-rtl-mirror scale-90">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                <mat-icon class="mr-2" fontSet="material-symbols-outlined">{{node.getIconName()}}</mat-icon>
                {{node.name}}&nbsp;
                @if(node.isLoading){
                    <mat-progress-bar class="ml-2 max-w-[50px]" mode="indeterminate"></mat-progress-bar>
                }
            </mat-tree-node>
        </mat-tree>
    </mat-sidenav>
    <mat-sidenav-content class="h-full p-6 overflow-y-auto">
        <div class="h-full w-full">
            <app-structure-details [currentRoute]="currentRoute"></app-structure-details>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
