<mat-sidenav-container autosize class="h-full">
    <mat-sidenav mode="side" opened>
        <app-progress [loading]="isDataLoading()"></app-progress>
        <!-- <app-messages [messages]="messages"></app-messages> -->

        <mat-tree #tree [dataSource]="dataSource()" [childrenAccessor]="getChildren" class="m-1">
            
            <!-- leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding
                routerLink="/{{routes.knowledge}}/{{owner}}/{{repository}}/{{branch}}/{{node.key}}" routerLinkActive="bg-blue-100 text-blue-700 rounded-[5px]" [routerLinkActiveOptions]="{ exact: true }">
                <button mat-icon-button disabled class="w-6"></button>
                <mat-icon class="mr-2" fontSet="material-symbols-outlined">
                    {{node.getIconName()}}
                </mat-icon>
                {{node.name}}
            </mat-tree-node>

            <!-- expandable branch nodes -->
                <!-- routerLink="/{{routes.knowledge}}/{{owner}}/{{repository}}/{{branch}}/{{node.key}}" [routerLinkActive]='["node-active"]'> -->
            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding
                routerLink="/{{routes.knowledge}}/{{owner}}/{{repository}}/{{branch}}/{{node.key}}" routerLinkActive="bg-blue-100 text-blue-700 rounded-[5px]" [routerLinkActiveOptions]="{ exact: true }">
                <!-- Handle dynamic lazy loading on user toggle action -->
                <button mat-icon-button 
                        (click)="onNodeToggle(tree, node)" 
                        [attr.aria-label]="'Toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                    </mat-icon>
                    <mat-icon class="mr-2" fontSet="material-symbols-outlined">{{node.getIconName()}}</mat-icon>
                </button>
                {{node.name}}
                <!-- loading indicator per node -->
                @if (node.isLoading) {
                    <!-- <span class="loading-text">Loading...</span> -->
                    &nbsp;<mat-progress-bar class="ml-2 max-w-[50px]" mode="indeterminate"></mat-progress-bar>
                }
            </mat-tree-node>
        </mat-tree>
    </mat-sidenav>
    <mat-sidenav-content class="h-full p-2 overflow-y-auto">
        <div class="h-full w-full">
            <app-structure-details [currentRoute]="currentRoute"></app-structure-details>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
