<div class="grid grid-cols-1 md:grid-cols-6 gap-6 mb-4">
    <!-- List Card -->
    <mat-card class="md:col-span-3 p-6 shadow-lg rounded-2xl bg-white border border-slate-200">
        <h2 class="text-xl font-semibold text-slate-800 mb-4 flex items-center gap-2">
            <mat-icon class="text-indigo-600">folder_opened</mat-icon>
            {{repositoryCategory ? repositoryCategory.toUpperCase() + ' Repositories' : 'List of Repositories'}}
        </h2>

        <mat-list *ngIf="this.repositories.length > 0; else emptyState" class="divide-y divide-slate-100">
            <mat-list-item *ngFor="let item of this.repositories" 
                class="py-4 flex items-center justify-between hover:bg-slate-50 rounded-lg transition-colors duration-200">

                <!-- name -->
                <span matListItemTitle class="flex items-center gap-3 font-bold text-slate-800 text-lg w-full">
                    <span class="font-bold text-slate-800 text-lx">{{ item.name }}</span>
                    <button mat-icon-button color="warn" (click)="deleteRepository(item.key); $event.stopPropagation()">
                        <mat-icon fontSet="material-symbols-outlined" class="text-indigo-600">delete</mat-icon>
                    </button>
                </span>                        

                <!-- owner and repository -->
                <span matListItemLine>
                    owner: <span class="font-semibold">{{ item.ownerName }}</span>,&nbsp;
                    repository: <span class="font-semibold">{{ item.repositoryName }}</span>
                </span>                        
            </mat-list-item>
        </mat-list>

        <ng-template #emptyState>
            <div class="flex flex-col items-center justify-center py-20 text-slate-400">
                <mat-icon fontSet="material-symbols-outlined" class="text-6xl mb-4 h-16 w-16">folder_open</mat-icon>
                <p class="text-lg font-medium">No repositories.</p>
            </div>
        </ng-template>
    </mat-card>

    <!-- Form Card -->
    <mat-card class="md:col-span-3 p-6 flex flex-col gap-4 shadow-lg rounded-2xl bg-white border border-slate-200">
        <h2 class="text-xl font-semibold text-slate-800 flex items-center gap-2">
            <mat-icon fontSet="material-symbols-outlined" class="text-indigo-600">add_circle</mat-icon>
            New Repository
        </h2>
    
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="newRepoName" placeholder="e.g., Arina Knowledge">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Owner</mat-label>
            <input matInput [(ngModel)]="newRepoOwner" placeholder="input owner name">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Repository</mat-label>
            <input matInput [(ngModel)]="newRepoRepository" placeholder="input repository name">
        </mat-form-field>

        <button mat-flat-button color="primary" class="w-full py-6 font-semibold" (click)="addRepository()">
            add Repository
        </button>
    </mat-card>    
</div>
