@if (!authorizationService.isAuthorized()) {
    <div class="h-full w-full flex flex-col items-center justify-center gap-6">
        <h1 class="prose text-2xl font-semibold">Access Your Repositories Safely</h1>
        <p class="prose text-gray-600">This app has no backend. Your GitHub PAT (Personal Access Token) stays inside your browser's memory and disappears on refresh.</p>
        <div>
            <mat-form-field class="w-[590px]" appearance="outline">
                <mat-label>GitHub PAT</mat-label>
                <input matInput #tokenInput type="password" autocomplete="off" placeholder="Paste GitHub PAT here..." />
            </mat-form-field>
            <button matButton="filled" color="primary" class="ml-3" (click)="login(tokenInput.value)">
                Login
            </button>
        </div>

        <h1 class="text-2xl font-semibold">How to create an access token in GitHub</h1>
        <div class="prose">
            <ol>
                <li>
                    Go to your GitHub Settings -> Developer Settings.
                </li>
                <li>
                    Generate a <strong>Personal Access Token (classic)</strong> with <strong>owner</strong> and <strong>repositories</strong> scope.
                    Permissions:
                    <ul>
                        <li>Contents: Read-only</li>
                        <li>Issues: Read-only</li>
                    </ul>
                </li>
            </ol>
        </div>

        <div class="action-link-container">
            <a mat-button color="primary" href="https://github.com/settings/personal-access-tokens" target="_blank">
                <mat-icon>open_in_new</mat-icon>
                Generate Token
            </a>
        </div>
    </div>
} @else {
    <div class="h-full w-full flex flex-col items-center justify-center gap-6">
        <button (click)="authorizationService.logout()">Log Out</button>
    </div>
}