<div class="h-full w-full flex flex-col items-center justify-center gap-6">
    <h1 class="text-2xl font-semibold">Welcome to Arina Knowledge!</h1>
    @if (!authorizationService.isAuthorized()) {
        <p class="text-gray-600">Please login to access your private knowledge repositories.</p>
        <a routerLink="{{routes.login}}" 
            class="text-gray-800 text-xl font-bold tracking-wider hover:text-indigo-400 transition-colors duration-200">
            Login
        </a>
    }             
    <p class="text-gray-600">You can access public knowledge repositories:</p>
        <ul>
            @for (item of repositories; track item.url){
                <li>
                    <a routerLink="{{`/${routes.knowledge}/${item.ownerName}/${item.repositoryName}/main`}}"                         
                        matTooltip="{{item.url}}"
                        [matTooltipPosition]="'below'">
                        {{item.name}}
                    </a>             
                </li>
            }            
        </ul>    
</div>

