<div class="h-full flex flex-col items-center justify-start mt-4 gap-4 overflow-y-auto">
    <h1 class="text-2xl font-semibold text-slate-800 mb-2 flex items-center gap-2">
        Team
    </h1>

    <mat-card class="w-full max-w-[800px] md:col-span-3 p-6 shadow-lg rounded-2xl bg-white border border-slate-200">
        <h2 class="text-xl font-semibold text-slate-800 mb-2 flex items-center gap-2">
            <mat-icon fontSet="material-symbols-outlined">person</mat-icon>
            Slava Zemlianskiy
        </h2>
        <p class="prose text-justify text-gray-600 w-full max-w-[800px]">
            Director of Software Engineering with 25+ years of experience building and scaling complex software systems across Artificial Intelligence, Analytical Linguistics, Finance, Marketing, Management and Agriculture.
            Specialize in building and leading high-performing engineering teams, aligning technology decisions with business outcomes, designing scalable architectures, establishing execution models for organizations operating under complexity, uncertainty and growth.
        </p>
        <a href="https://www.linkedin.com/in/zemlianskyi/" target="_blank" rel="noopener noreferrer"
            class="mt-3 text-gray-800 text-xl font-bold tracking-wider hover:text-indigo-400 transition-colors duration-200">
            LinkedIn
        </a>            
    </mat-card>

    <mat-card class="w-full max-w-[800px] md:col-span-3 p-6 shadow-lg rounded-2xl bg-white border border-slate-200">
        <h2 class="text-xl font-semibold text-slate-800 mb-2 flex items-center gap-2">
            <mat-icon fontSet="material-symbols-outlined">person</mat-icon>
            Anna Kholdobina
        </h2>
        <p class="prose text-justify text-gray-600 w-full max-w-[800px]">
            Project Manager with 5+ years of experience working on projects across finance, banking, IT, and startup environments. 
            Skilled in project planning, risk management, team coordination, and stakeholder communication.
            Focused on establishing structured workflows and standardizing processes to improve efficiency and support well-organized project operations. 
        </p>
        <a href="https://www.linkedin.com/in/annakholdobina-projectmanager/" target="_blank" rel="noopener noreferrer"
            class="mt-3 text-gray-800 text-xl font-bold tracking-wider hover:text-indigo-400 transition-colors duration-200">
            LinkedIn
        </a>            
    </mat-card>
</div>